<form action="creer_film" method="POST" id="add">
	<div id="idfilm">
		<input type="number" name="id" value="{{ films.getId + 1 }}" readonly>
	</div>
	<section id="addta">
		<div>
			<label for="titre">Titre</label>
			<input type="text" name="titre">
		</div>
		<div>
			<label for="annee">Année</label>
			<input type="number" name="annee" min="1888" max="2023">
		</div>
	</section>
	<div>
		<label for="affiche">Affiche</label>
		<input type="text" name="affiche">
	</div>
	<div>
		<label for="realisateur">Réalisateur</label>
		<input id="reatext" type="text" name="realisateur">
	</div>
	<section id="addrole">
		<div>
			<label for="ajrole">Rôle(s)</label>
			<button type="button" name="ajrole" onclick="add()">Ajouter</button>
		</div>
		<div id="arole">
			<div>
				<input type="text" name="personnage" class="perso" placeholder="Personnage">
				<input type="text" name="nom" class="name" placeholder="Nom">
				<input type="text" name="prenom" class="name" placeholder="Prenom">
			</div>
		</div>
	</section>
	<div id="sender">
		<button id="finnalbutton" type="submit">Créer</button>
	</div>
</form>
<script src="view/web/js/script.js"></script>
<div>
	<p>{{message}}
		:</p>
	{% if film is defined %}
		{{film.getTitre}}
		:
		{{film.getRealisateur}}
		:
		{{film.getAffiche}}
		:
		{{film.getAnnee}}
	{% endif %}
</div>
